{%extends 'base.html'%} 
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">MY GALLERY</h1>
    <blockquote class="text-center"><cite>A collection of my memories</cite></blockquote>
    </div>

  <div class="row">
    {% if locations%}
      <h2>Found {{ locations|length }} of location {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the location {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if locations %}
    {% for image in locations %}
      <div class="col-sm-6 col-md-3">
        <img src="{{image.picture.url}}" class="img-responsive">
            
          
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}